.idea/
*/__pycache__/*
__pycache__/
extras/
.vscode/.ropeproject
modules/sec/req/cascades
venv/
token.pickle
client_secret.json
user/mail_service/email.KRT
modules/sec/req/KS_PIN.EKEYKRT
modules/sec/req/pin.EKRT
modules/sec/req/labels.pickle
modules/sec/req/trainer.yml
roi.png


