.idea/
*/__pycache__/*
__pycache__/
extras/
.vscode/
modules/sec/req/cascades
venv/
token.pickle
client_secret.json
modules/sec/req/KS_PIN.EKEYKRT
modules/sec/req/pin.EKRT
modules/sec/req/labels.pickle
modules/sec/req/trainer.yml
roi.png