aiohttp
astroid
async-timeout
attrs
beautifulsoup4
bluetool
cachetools
certifi
cffi
chardet
colorama
comtypes
cryptography
decorator
flake8
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
importlib-metadata
isort
lazy-object-proxy==1.4.3
mccabe
multidict
numpy==1.19.3
oauthlib
oauth2client
opencv-contrib-python
Pillow
protobuf
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
pylint
pypiwin32
pyserial
pyttsx3
pytz
pywin32
requests
requests-oauthlib
rope
rsa
selenium
six
soupsieve
SpeechRecognition
tcpbridge
toml
typed-ast
typing-extensions
uritemplate
urllib3
wikipedia
wrapt
yarl
zipp
